@tailwind base;

body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.font-mukta {
    font-family: 'Mukta', sans-serif;
}

.text-white-2 {
    color: rgba(255, 255, 255, 0.87);
}

@tailwind components;
@tailwind utilities;
